@media screen and (max-width: 800px) {
  .container img {
       width: 50%;
   }
 
   .heading {
       color: blue;
   }
 } 
 
 @media screen and (max-width: 600px) {
   .container img {
       width: 50%;
   }
 
   .heading {
       color: rgb(255, 87, 87);
   }
 } 